.warning {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: auto;
  text-align: center;
}

.warning__link {
  @include btn;
  bottom: 0;
  display: block;
  margin: 20px;
  padding: 20px;
  position: fixed;
  width: 80%;

  &:hover {
    background-color: $chk;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin: 50px;
    position: static;
    width: 50%;
  }

  @media screen and (min-width: 1024px) {
    width: 30%;
  }
}
